/* Button stijlen */
button {
  padding: 5px 10px;
  background-color: #ee4f33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
/* Hover effect voor de button */
button:hover {
  background-color: #f31e13;
}
/* Voeg een coole image toe als achtergrond */
body {
  background-image: url("../images/venatorBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* Hoofdinhoud en formulier stijlen */
.content {
  opacity: 0.85;
  padding: 20px;
  background-color: #333333;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* Formulier stijlen */
form {
  display: flex;
  flex-direction: column;
}
/* ruimte tussen label en inputveld */
label {
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e9ecef;
}
/* Submit button stijlen */
input[type="submit"] {
  background-color: #385170;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect voor de submit button */
input[type="submit"]:hover {
  background-color: #142d4c;
  transition: background-color 0.3s;
}

/* kleuren pallet */
.first-color {
  background: #ececec;
}

.second-color {
  background: #9fd3c7;
}

.third-color {
  background: #385170;
}

.fourth-color {
  background: #142d4c;
}
